.App {
  text-align: center;
}

.image-board {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  padding: 25px;
}
.image-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: rgb(207, 210, 222);
  border-radius: 10px;
}
.image-card img {
  width: 100%;
}